body {
    background: #bdc3c7;
}

h1 {
    color: #9b59b6;
}

h2 {
    color: orange;
}

li {
    color: blue;
}

p {
    background-color: yellow;
}

input {
    border: 3px solid red;
}

.hello {
    background: white;
}

#secial {
    border: 2px solid blue;
}