div {
    height: 140px;
    width: 420px;
    padding: 20;
    border: 10px 20px;
    margin: 50px 100px;
    border-style: solid solid dashed dashed;
    border-color: firebrick chartreuse burlywood aqua;
}